@charset "UTF-8";
/* CSS Document */

body{
	font-family: Arial;
	Margin: 0 auto;
	width: 1520px;
}

#Header{
	float: left;
	width: 1520px;
	height: 300px;
	background-image: url("../images/banner.jpg");
	text-align: center;
	color:#B3B3B3;
}

#Header img{
	margin-right: 10px;
}

#Logo{
	margin-top: 50px;
}

#Header p{
	margin-left: 30%;
	margin-right: 30%;
}

#Main{
	float: left;
	width: 1520px;
	text-align: center;
}

.Article{
	float:center;
	display: inline-block;
	width: 940px;
	text-align: center;
	border-bottom: 1px solid grey;
}

.Article h1{
	float:left;
	text-align: left;
	color:#153143
}

.Article p{
	float:left;
	text-align: left;
	color: grey;
}

.Article small{
	float: left;
	text-align: left;
	color: dimgray;
	padding-bottom: 20px;
}

#Footer{
	float:left;
	width:1520px;
	text-align:right;
	margin-top: 50px;
}
